@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <div class="row d-flex">
        <div class="col-6">
            <div class="main-title">Наши контакты</div>
            <div class="">+375 027 1005001</div>
            <div class="">+375 028 4210081</div>
        </div>
        <div class="col-6">
            <div class="main-title">Наши адреса</div>
            <div class="">Республика Беларусь. г. Минск<br />Проспект Независимости 32, корпус 5.</div>
            <div class="">Республика Беларусь. г. Минск<br />проспект Победителей 17, корпус 7.</div>
        </div>
    </div>
    <div class="row justify-content-center text-center main-title">Наша история</div> 
    <div class="text-justify">
        <p>
            Мебель - это, безусловно, важная часть в жизни каждого человека. От мебели зависит степень уюта и возможность комфортного проживания в своём доме.
            Кроме того, предметы мебели создают особую обстановку в любом помещении, дополняют различные дизайнерские задумки и изменяют весь внешний вид квартиры или дома.
            Именно поэтому, крайне важно не ошибиться и осуществить правильный выбор мебели, в соответствии с собственными идеями и пожеланиями.
            Мебель должна быть определенного качества, чтобы она смогла прослужить долгие годы, не теряя своих основных функциональных свойств и эстетической красоты.
        </p>
        <p>
            История предприятия «Панская мэбля» начинается в 1990 году в качестве основанной энтузиастами столярной мастерской. Заложенные в последующие десятилетия основы
            традиций высокого качества продукции позволили в последующие годы окончательно сформировать профиль деятельности предприятия в области производства и реализации мебели,
            работающего на внутренний и внешний рынок.
        </p>
        <p>
            С момента создания предприятие  специализировалось на выпуске кухонной мебели. Однако, с расширение производственных возможностей был существенно увеличен и
            ассортимент готовых изделий. Так с 1995 года предприяие начало производить  как классическую корпусную мебель, так и мебель в стиле лофт.
            Именно с  этого момента выпуск мебели становится узкой специализацией предприятия «Панская мэбля», позволившей достичь совершенства в избранной сфере деятельности.
        </p>
        <p>
            Дружный коллектив предприятия производит из натуральных материалов с применением самого передового оборудования и прогрессивных технологий высококачественную мебель
            на любой изысканный вкус. Мы гарантируем, что наша фабрика мебели осуществит любой каприз клиента и воплотит в жизнь самую дерзкую задумку.
            Также у нас имеется в продаже  широкий ассортимент уже готовой мебели от ведущих Российских и Европейских фабрик. Благодаря многим годам успешной работы,
            наши изделия пользуются большим спросом и мы находимся в числе ведущих производителей мебели в Республике Беларусь и за ее преелами.
            Нам есть чем порадовать наших посетителей: мебель высокого качества на любой вкус и цвет; соответствие с последними мировыми тенденциями и технологиями.
            Это может быть мебель европейского типа, а могут быть изысканные решения, сделанные на восточный лад.
        </p>
        <p>
            Вся продукция производства «Панская мэбля» сертифицирована согласно мировых и государственных стандартов Республики Беларусь и соответствует всем требованиям
            предъявляемым стандартами к данному виду продукции.
        </p>
        <p>
            Если у Вас нет времени посетить наш салон, увидеть и оценить все качество и совершенство готового изделия, Вы всегда можете зайти на сайт нашего интернет-магазина
            и выбрать из огромного многообразия представленных моделей. Так же Вы всегда можете позвонить Нам и наши менеджеры с радостью ответят на все интересующие Вас вопросы.
        </p>
        <p>
            За все годы, что существует компания, было произведено около 10 тыс. мебельных единиц. Хорошие отношения с поставщиками обуславливают быстрые сроки поставки мебельных изделий и материалов.
            Так же это является причиной возможности предоставить Вам отличные цены на нашу продукцию.
        </p>
        <p>
            Ряд основных преимуществ нашего мебельного магазина:
        </p>
        <p>
            <ul>
                <li>доставляем мебельную продукцию по городу Минску совершенно бесплатно;</li>
                <li>сборка и установка включена в стоимость изделия;</li>
                <li>гарантийное бесплатное обслуживание продукции в течение года с момента покупки;</li>
                <li>предоставляем консультацию по телефону, или в режиме онлайнна нашем сайте;</li>
                <li>вы можете заказать мебель не вставая с дивана;</li>
                <li>предоставляем возможность покупки в рассрочку и кредит.</li>
            </ul>
        </p>
        <p>
            Главная задача нашей команды - упростить быт и повседневную жизнь наших клиентов, а так же помочь бизнесу и другим проектам получить максимум выгоды от покупки
            мебели и обустройства интерьера. Мы предлагаем большой выбор товаров материалов и комплектующих от эконом до премиум сегмента и стараемся работать над тем,
            чтобы наша продукция была как можно более доступна населению и каждый имел возможность приобрести ее.
        </p>
        <p>
            Приобретая продукцию у нас, Вы получаете гарантию и сервисное обслуживание в течение одного года. Данная техника как нельзя кстати впишется в выбранный мебельный 
            интерьер. Именно поэтому, наш магазин - практичное и удобное решение, которое изменит жизнь к лучшему.
        </p>
    </div>
</div>
