<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container mb-4">
            <div class="row d-flex mb-2">
                <div class="col-6">
                    <img src="../Images/logo.png" alt="Лого сайта" />
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="col-6 text-right">
                        <a asp-controller="User" asp-action="Login">ВХОД</a>|<a asp-controller="User" asp-action="Register">РЕГИСТРАЦИЯ</a>
                    </div>
                }
                else
                {
                    <div class="col-6 text-right">
                        <span>@User.Identity.Name</span>
                        <a asp-controller="User" asp-action="Profile">ЛИЧНЫЙ КАБИНЕТ</a>|<a asp-controller="User" asp-action="Logout">ВЫХОД</a>
                    </div>
                }
            </div>
            <div id="menu-block" class="row d-flex">
                @if (User.IsInRole("1"))
                {
                    <div class="col-2 menu-item text-center"><a asp-controller="Home" asp-action="Catalog">Каталог</a></div>
                    <div class="col-2 menu-item text-center"><a asp-controller="Home" asp-action="Index">Главная</a></div>
                    <div class="col-2 menu-item text-center"><a asp-controller="Order" asp-action="AllOrders">Заказы</a></div>
                    <div class="col-3 menu-item text-center"><a asp-controller="User" asp-action="AllUsers">Пользователи</a></div>
                    <div class="col-3 menu-item text-center"><a asp-controller="Product" asp-action="AllProducts">Товары</a></div>
                }
                else if (User.IsInRole("2"))
                {
                    <div class="col-3 menu-item text-center"><a asp-controller="Home" asp-action="Catalog">Каталог</a></div>
                    <div class="col-3 menu-item text-center"><a asp-controller="Home" asp-action="Index">Главная</a></div>
                    <div class="col-3 menu-item text-center"><a asp-controller="Order" asp-action="AllOrders">Заказы</a></div>
                    <div class="col-3 menu-item text-center"><a asp-controller="Product" asp-action="AllProducts">Товары</a></div>
                }
                else
                {
                    <div class="col-4 menu-item text-center"><a asp-controller="Home" asp-action="Catalog">Каталог</a></div>
                    <div class="col-4 menu-item text-center"><a asp-controller="Home" asp-action="Index">Главная</a></div>
                    <div class="col-4 menu-item text-center"><a asp-controller="Order" asp-action="AllOrders">Заказы</a></div>
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
