$main-font: Ablation;
$background: #F8F7F4;
$color-menu: #433831;

@font-face {
    font-family: Nickainley;
    src: url(/Fonts/Nickainley.otf);
}
@font-face {
    font-family: Ablation;
    src: url(/Fonts/Ablation.otf);
}

body {
    background-color: $background;
}
.font-nikainley {
    font-family: Nickainley;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
header {
    font-family: $main-font;
    font-size: 20px;
    color: $color-menu;

    #menu-block {
        border-top: 5px dashed $color-menu;
        border-bottom: 5px dashed $color-menu;
    }

    .menu-item {
        border-left: 5px dashed $color-menu;
    }

    .menu-item:first-child {
        border-left: none;
    }
}
